<footer>
  <nav>
    <ul>
      <li><a href="/"><img src="/images/home.svg" alt="Home" class="<%- tab == 1 && 'selected' %>"/></a></li>
      <li><a href="/matches"><img src="/images/match.svg" alt="Matches" class="<%- tab == 2 && 'selected' %>"/></a></li>
      <li><a href="/contacts"><img src="/images/contact.svg" alt="Contacts" class="<%- tab == 3 && 'selected' %>"/></a></li>
      <li><a href="/profile"><img src="/images/profile.svg" alt="Profile" class="<%- tab == 4 && 'selected' %>"/></a></li>
    </ul>
  </nav>
</footer>