<header>
  <nav>
    <section>
      <img
        src="/images/match.svg"
        alt="home"
      />
      <h1>NetWorker</h1>
      <button><image src="/images/menu.svg" /></button>
    </section>
    <ul class="closed">
      <li><button><image src="/images/close.svg" /></button></li>
      <li><a href="/"><img src="/images/home.svg" alt="Home" class="<%- tab == 1 && 'selected' %>" />Home</a></li>
      <li><a href="/match"><img src="/images/match.svg" alt="Matches" class="<%- tab == 2 && 'selected' %>" />Match</a></li>
      <li><a href="/contacts"><img src="/images/contact.svg" alt="Contacts" class="<%- tab == 3 && 'selected' %>" />Profile</a></li>
      <li><a href="/profile"><img src="/images/profile.svg" alt="Profile" class="<%- tab == 4 && 'selected' %>" />Logout</a></li>
    </ul>
  </nav>
</header>
