<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/ulx6jeq.css" />
    <script src="/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script id="page" type="application/json">
      <%- JSON.stringify(filteredUsers) %>
    </script>
    <%- include('header', {tab: 1}); %>
    <main class="card">
      <a href="/match">
        <h2>Manage applicants: </h2><span><%- filteredUsers.length %></span>
        <img src="/images/match.svg" alt="Matches" />
      </a>
      <a href="#">
        <h2>Start searching for a job</h2>
        <img src="/images/search.svg" alt="Matches" />
      </a>
      <a href="#" class="half">
        <img src="/images/profile.svg" alt="Matches" />
      </a>
      <a href="contacts" class="half">
        <img src="/images/contact.svg" alt="Matches" />
      </a>
      <button id="generate-applicants">
        <h2>Generate new applicants</h2>
        <img src="/images/contact.svg" alt="Matches" />
      </button>
    </main>
    <%- include('footer', {tab: 1}); %>
  </body>
</html>
