<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kaas</title>
    <link rel="stylesheet" href="/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/ulx6jeq.css" />
    <script src="/script.js" defer></script>
    <script src="/matchScript.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script id="page" type="application/json">
      <%- JSON.stringify(users) %>
    </script>
    <main>
      <% users.forEach(user => { %>
        <div><%= user.job %> ------------ <%= user.firstName %></div>
      <% }); %>
    </main>
  </body>
  <%- include('footer', {tab: 2}); %>
</html>
