.matching-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: fit-content;
  gap: 5rem;
}

.btn-accept,
.btn-ignore {
  aspect-ratio: 1 / 1;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
}

.btn-accept {
  background-color: rgb(37, 211, 37);
}

.btn-ignore {
  background-color: rgb(221, 47, 47);
}
