body {
  background-color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.current-card {
  height: 45rem;
  width: 30rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: lightgray;
  -webkit-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.75);
  padding: 3rem;
  border-radius: 1rem;
  gap: 0.5rem;
}

.banner {
  max-width: 100%;
}

.banner img {
  width: 100%;
  border-radius: 1rem;
}
