body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body > header {
  background-color: black;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    > section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      width: 2rem;
      height: 2rem;
      display: block;
      background-color: black;

      span {
        width: 100%;
        height: 0.3rem;
        background-color: white;
      }
    }

    button {
      background-color: transparent;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }

    ul {
      position: fixed;
      z-index: 100000000;
      height: 100%;
      width: 100%;
      padding: 1rem 2rem;
      background-color: black;
      inset: 0;
      transition: transform 0.3s;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      li {
        height: fit-content;
        width: 15rem;
        border-radius: 3px;
        border: 1px solid white;

        button:first-child {
          display: flex;
          justify-content: center;
        }
      }
      a,
      button {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        display: block;
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}

body > footer {
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 1.3rem 1.3rem 0 0;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;

    a {
      display: block;
      padding: 1rem;

      img {
        width: 2rem;
      }
    }
  }
}

.card {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  a,
  button {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    padding: 2rem 3rem;
    border-radius: 1rem;
    gap: 0.5rem;
    border: 1px solid lightgrey;
    text-decoration: none;
    color: black;
    height: 6rem;

    &.half {
      grid-column: span 1;
      justify-content: center;
      img {
        width: 70%;
      }
      height: unset;
      aspect-ratio: 1 / 1;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    span {
      font-size: 1.5rem;
      color: var(--primary-color);
      background-color: black;
      aspect-ratio: 1 / 1;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-weight: bold;
    }
    img {
      filter: invert(1);
      width: 2rem;
    }
  }
  button {
    margin: 4rem 0;
    cursor: pointer;
  }
}

.selected {
  filter: invert(0.4) sepia(1) saturate(18) hue-rotate(309.6deg) brightness(1);
}

.closed {
  transform: translateX(-100%);
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
  height: 90dvh;
  scroll-snap-align: start;

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  header,
  section.skills,
  section.education {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    background-color: white;
    -webkit-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    gap: 1rem;
    border: 1px solid lightgrey;
    text-decoration: none;
    color: black;
  }

  header {
    height: 6rem;

    h1 {
      font-weight: 400;
    }

    h2 {
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    img {
      filter: invert(1);
      width: 4rem;
      border-radius: 50%;
    }
  }

  .jobs {
    grid-column: span 2;

    ol {
      list-style: none;
      display: flex;
      overflow-x: auto;
      scroll-snap-points-x: repeat(100%);
      scroll-snap-type: x mandatory;
      gap: 1rem;
      li {
        width: 100%;
        padding: 1rem;
        flex-shrink: 0;
        scroll-snap-align: start;
        gap: 0.3rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        -webkit-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
        box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
        border: 1px solid lightgrey;
        text-decoration: none;
        color: black;
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          text-decoration: none;
          color: black;
          font-weight: 600;
        }
        img {
          filter: invert(1);
          height: 1.5rem;
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;

          &:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
          }

          &:last-child {
            margin-top: auto;
          }
        }
      }
    }
  }

  section.skills,
  section.education {
    grid-column: span 1;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h3 {
      font-size: 0.9rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    p {
      text-transform: capitalize;
    }
  }

  section.skills {
    ul {
      width: 100%;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
  }

  section.education {
    ul {
      max-height: 15rem;
      overflow-y: auto;
    }
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.buttons {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  button {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 1rem 0;
    cursor: pointer;
    -webkit-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    &.btn-save {
      background: rgb(33, 233, 83);
    }
    &.btn-ignore {
      background: rgb(214, 49, 49);
      img {
        filter: invert(1);
      }
    }
    img {
      width: 2rem;
    }
  }
}

.cv-list {
  overflow-y: auto;
  transition: all 0.3s;
  padding-bottom: 5rem;
  height: 100%;
  scroll-snap-points-y: repeat(90dvh);
  scroll-snap-type: y mandatory;

  &.animated-scroll {
    overflow: hidden;
    height: unset;
  }
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90dvh;
  gap: 1rem;
  a {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    -webkit-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 9px 10px 29px -4px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 1rem;
    img {
      filter: invert(1);
    }
  }
}
